Experiment - 1

In [6]:
# Write a program to add two numbers to illustrate the use of print statement.
a = 10
b = 9
c = a + b
print('The sum of two numbers is : ', c)

The sum of two numbers is :  19

In [7]:
# Write a program to illustrate the use of conditional statements by checking if the input number is odd or even.
a = 10
if (a % 2 == 0):
  print('Even')
else:
  print('Odd')

Even

In [8]:
# Write a program to illustrate the use of functions.
def func(n):
  if(n % 2 == 0):
    print('Even')
  else:
    print('Odd')

func(21)

Odd

In [9]:
# Write a program to access the values in a dictionary.
dict = {'name': 'Madhur', 'age': 20, 'gender': 'Male'}
print(dict['name'])
print(dict['age'])

dict['age'] = 22
print(dict)

Madhur
20
{'name': 'Madhur', 'age': 22, 'gender': 'Male'}

In [2]:
# Write a program to perform various string operations.
s1 = input('Enter first string : ')
s2 = input('Enter second string : ')

# Concatenate strings
s3 = s1 + ' ' + s2
print('Concatenated string is : ', s3)

# Search a substring inside a string
print(s3.find('Mad'))
print(s3.find('abc'))

# Replace a substring
s4 = s3.replace('ad', 'bc')
print(s4)

Enter first string : Madhur
Enter second string : Gupta
Concatenated string is :  Madhur Gupta
0
-1
Mbchur Gupta